.footer{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 50px;
    margin: 50px auto;
    width: 90%;
}
   .footer .footerContainer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        width: 30%;
        height: 100%;
        gap: 30px;
    }
    .subContainer{
        display: flex;
        flex-direction: column;
        justify-content: space-between;

    }
        .subContainer P{
            line-height: 30px;
            margin: 20px auto;
        }
   .footer .subFooter{
        display: flex;
        align-items: flex-start;
        justify-content: end;
        gap: 50px;
        width: 50%;
   }
       .footer ul{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 15px;
            justify-content: flex-start ;
            font-family: 'Inter';
        }
        .footer ul li:hover{
            color: #FBD784;
            transition: 0.5s ease;
        }

        @media (max-width:800px) {
            .footerContainer{
                width: 80% !important;
            }
            .footer .subFooter{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: flex-end;
            }
        }

        @media (max-width: 530px) {
            .footer{
                flex-direction: column;
            }
            .footerContainer{
                display: flex;
                justify-content: center;
                width: 100% !important;
                text-align: center;
            }
            .footerContainer span{
                text-align: center;
                margin: 0 auto;
            }
            .footer .subFooter{
                justify-content: center;
                width: 100%;
            }
            .footer ul{
                align-items: center !important;
            }
        }